@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@inject NavigationManager Navigation
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <AuthorizeView>
                <Authorized>
                    <div class="d-flex align-items-center">
                        <span class="me-3">Hello, @context.User.Identity?.Name!</span>
                        <form action="api/Identity/Account/Logout" method="post" class="d-inline">
                            <button type="submit" class="btn btn-link nav-link">Logout</button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <a href="Identity/Account/Login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>